@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pagination__item {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #666;
  cursor: pointer;
  font-size: 15px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  margin: 0 4px;
}

.pagination__item:hover {
  background-color: #e1fbf2;
  box-shadow: 1px 1px 3px #aaa;
}

.pagination__item--active {
  border-radius: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 15px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  margin: 0 4px;
  background-color: rgb(210, 210, 210);
  color: black;
  font-weight: bold;
}
